body {
    display: block;
    overflow-x: hidden;
}

nav {
    background-color: #7952B3;
}


.navbar-brand {
    max-height: 50px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    font-style: italic;
}

nav ul li a {
    color: white;
    font-size: 22px;
    margin: auto 10px;
}


#hero h1 {
    font-weight: 700;
    color: white;
    text-align: left;
}

#hero button {
    width: 200px;
    font-size: 20px;
}

#hero h4 {
    font-weight: 100;
    color: white;
    padding-bottom: 30px;
}

#hero {
    background-color: #7952B3;
    padding-top: 100px;
}

section p {
    font-size: 16px;
    font-weight: 300;
}

button {
    max-width: 50%;
    border-radius: 50px !important;
}

#hero .col {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

#hero .img-col {
    justify-content: flex-end;
    margin-top: 30px;
}

#hero img {
    max-width: 130% !important;
    width: 80%;
}

#hero .card {
    box-shadow: 11px 7px 16px gray;
    border:0;
    text-align: center;
}

div #atas {
    background-color: #7952B3 ;
}

#hero #ilustrasi img {
    width: 100%;
    height: auto;
}

#hero button {
    color: #7952B3;
    font-weight: 700;
}

#img-desc {
    width: 400px;
    height: auto;
}

.deskripsi {
    margin-bottom: 30px;
}

.deskripsi p {
    font-size: 20px;
}

#kades .card-body {
    text-align: justify;
}

.navbar .active {
    color: white;
}

.nav-link{
    color: white;
}

#profile {
    text-align: center;
    background-color: #7952B3;
    color: white;
}

.wave {
    transform: rotate(180dg);
}

.footer-bawah {
    background-color: #7952B3;
    color: white;
}

#formulir .container{
    width: 80%;
}

#form-login .container {
    width: 40%;
}

#hasil_section .progress {
    height: 50px;
    font-size: 22px;
    font-weight: 500;
}

.navbar-brand img {
    height: 50px;
}

.wave {
    width: 100%;
}

.border-purple {
    color: #7952B3 !important;
}

.card-body {
    color: black;
}